[submodule "/src/de/hu_berlin/informatik/spws2014/testloc_world/ImagePositionLocator"]
	path = /src/de/hu_berlin/informatik/spws2014/testloc_world/ImagePositionLocator
	url = https://github.com/diedricm/ImagePositionLocator
